@model GameVM
@{
    ViewData["Title"] = Resource.dashboard;
}

<div id="dashboard-page">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <h2>@Resource.dashboard</h2>
            </div>
            @if (Model.StatsMember.Id == 0)
            {
                <div class="page-title"> <h3 id="abandonedText">@Resource.GraphMessage</h3></div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="barchart" class="chart"></div>
        </div>
        <div class="col-md-6">
            <div id="piechart" class="chart"></div>
        </div>
    </div>
</div>

@section Scripts
{
    @*
        Utilisation de Google Chart
        https://developers-dot-devsite-v2-prod.appspot.com/chart/interactive/docs/gallery/barchart?hl=fr
        https://developers-dot-devsite-v2-prod.appspot.com/chart/interactive/docs/gallery/piechart?hl=fr
    *@

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawBarChart);
        google.charts.setOnLoadCallback(drawPieChart);

        function drawBarChart() {
            var data = google.visualization.arrayToDataTable([
                ["Element", "Valeur", { role: "style" } ],
                ["@Resource.colors", @Model.Game.NbColors, "color: gold"],
                ["@Resource.positions", @Model.Game.NbPositions, "color: orange"],
                ["@Resource.attemps", @Model.Game.NbAttempts, "color: blue"]
            ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                            { calc: "stringify",
                                sourceColumn: 1,
                                type: "string",
                                role: "annotation" },
                            2]);

            var options = {
                bar: { groupWidth: "95%" },
                fontSize: 14,
                legend: { position: "none" },
                responsive: true,
                title: "@Resource.currentConfig",
            };

            var chart = new google.visualization.BarChart(document.getElementById("barchart"));
            chart.draw(view, options);
        }

        function drawPieChart() {
            var data = google.visualization.arrayToDataTable([
                ['Resultat', 'Quantite'],
                ['@Resource.won', @Model.StatsMember.GamesWon],
                ['@Resource.lost', @Model.StatsMember.GamesLost],
                ['@Resource.abandoned', @Model.StatsMember.GamesAbandoned]
            ]);

            var options = {
                fontSize: 14,
                is3D: true,
                responsive: true,
                slices: [{ color: 'blue', offset: 0.1 }, { color: 'orange', offset: 0.1 }, { color: 'silver' }],
                title: '@Resource.summary'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

        window.onresize = function() {
            // Redessiner les graphiques lorsque la fenêtre est redimentionnée
            drawBarChart();
            drawPieChart();
        };
    </script>
}
