@* @model AdminMessageVM
@{
    ViewData["Title"] = Resource.Message;
}

<div id="message-page">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <h2>@Resource.Message</h2>
            </div>

            <p>@Model.Message</p>

            <br />
            <div class="links">
                <a asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-id="@Model.Id">@Model.BackToMsg</a>
            </div>
        </div>
    </div>
</div>


  *@